$primary-color : #3d5afe;
$dark-color: #0031ca;
$light-color: #8187ff;
$light-back-color: #efefef;

$menu-color: #ffffff;

$text-dark-color: #353131;
$text-light-color: #e6e6e6;
$text-white-color: #fffbfb;

$black: #000000;
$white: #ffffff;