/* iransans  */

/* iransans bold */
@font-face {
    font-family: iransans_bold;
    src: url('./../fonts/iransans/IRANSansWeb_Bold.eot') format('eot'), url('./../fonts/iransans/IRANSansWeb_Bold.woff') format('woff');
}

/* iransans light */
@font-face {
    font-family: iransans_light;
    src: url('./../fonts/iransans/IRANSansWeb_Light.eot') format('eot'), url('./../fonts/iransans/IRANSansWeb_Light.woff') format('woff');
}

/* iransans medium */
@font-face {
    font-family: iransans_medium;
    src: url('./../fonts/iransans/IRANSansWeb_Medium.eot') format('eot'), url('./../fonts/iransans/IRANSansWeb_Medium.woff') format('woff');
}

/* iransans ulight */
@font-face {
    font-family: iransans_ulight;
    src: url('./../fonts/iransans/IRANSansWeb_UltraLight.eot') format('eot'), url('./../fonts/iransans/IRANSansWeb_UltraLight.woff') format('woff');
}

/* iransans */
@font-face {
    font-family: iransans;
    src: url('./../fonts/iransans/IRANSansWeb.eot') format('eot'), url('./../fonts/iransans/IRANSansWeb.woff') format('woff');
}





/* vazir font  */

/* vazir bold  */
@font-face {
    font-family: vazir_bold;
    src: url('./../fonts/vazir/Vazir-Bold.eot') format('eot'), url('./../fonts/vazir/Vazir-Bold.woff') format('woff');
}

/* vazir light  */
@font-face {
    font-family: vazir_light;
    src: url('./../fonts/vazir/Vazir-Light.eot') format('eot'), url('./../fonts/vazir/Vazir-Light.woff') format('woff');
}

/* vazir medium  */
@font-face {
    font-family: vazir_medium;
    src: url('./../fonts/vazir/Vazir-Medium.eot') format('eot'), url('./../fonts/vazir/Vazir-Medium.woff') format('woff');
}

/* vazir regular  */
@font-face {
    font-family: vazir_regular;
    src: url('./../fonts/vazir/Vazir-Regular.eot') format('eot'), url('./../fonts/vazir/Vazir-Regular.woff') format('woff');
}

/* vazir thin  */
@font-face {
    font-family: vazir_thin;
    src: url('./../fonts/vazir/Vazir-Thin.eot') format('eot'), url('./../fonts/vazir/Vazir-Thin.woff') format('woff');
}